body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    font-family: sans-serif;
    background-color: black;
    border-radius: 15px;
    width: 500px;
    overflow: hidden;

}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: gray;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 3rem;
    font-weight: bold;
    background-color: grey;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: lightgrey;
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: orange;
}

.operator-btn:hover{
    background-color: rgba(255, 166, 0, 0.504);
}

.operator-btn:active{
    background-color: rgba(255, 166, 0, 0.674);
}

